body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.digit {
  display: inline-block;
  font-size: 80px;
  text-align: center; 
}

.redDigit {
  color: red;
}


.buttons{
  text-align: center; 
  margin-top: 5%;
}

.buttons button{
 border: none;
 background-color: #43ab92;
 padding: 3% 15%;
 color: white;
 border-radius: 60px
}